.empty-items-page{
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.empty-items-page h3{
    letter-spacing: 4px;
    margin: 20px 0px;
}
.empty-items-page button{
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}


@media (max-width : 500px) {
    .empty-items-page{
        padding: 10px;
    }
    .empty-items-page img{
        width: 100%;
    }
    
}