.view-orders-item-details {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

.view-orders-product-detail-section {
  width: 60%;
  height: 100%;
}

.view-orders-item-details-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 5px rgb(227, 227, 227);
  display: flex;
  padding: 20px;
}

.orders-devider {
  border-right: 2px solid rgb(240, 240, 240);
  margin: 10px 40px 20px 100px;
}

.view-orders-product-detail-content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.purchased-item-prise-and-orderid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purshased-item-image-container {
  display: flex;
  align-items: center;
}
.purshased-item-image-container p {
  max-width: 350px;
  max-height: 50px;
  overflow: hidden;
}
.purshased-item-image {
  width: 180px;
  margin-right: 20px;
}

.purchased-item-action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.purchased-item-action button {
  margin: 30px 10px;
  width: 150px;
  height: 40px;
}
.buy-again-btn {
  background: #595dff;
  color: white;
}
.complete-order-btn {
  background-color: rgba(0, 173, 0, 0.781);
  color: white;
  font-size: 14px;
}
.cancel-order-btn {
  background-color: rgba(238, 14, 14, 0.781);
  color: white;
}

.add-review,
.add-review form {
  display: flex;
  flex-direction: column;
}
input[type="radio"] {
  display: none;
}
.order-rating-star {
  color: rgb(201, 199, 199);
  margin-right: 10px;
}
.review-btn {
  height: 40px;
}

.total-review {
  font-size: 12px;
  margin-left: 10px;
  color: grey;
}
.view-orders-item-details .rec.rec-arrow {
  display: none;
}

@media (max-width: 1200px) {
  .view-orders-item-details {
    background-color: rgb(255, 255, 255);
  }
  .view-orders-product-detail-section {
    width: 100%;
    height: 100%;
  }
  .view-orders-item-details-container {
    box-shadow: none;
  }
}

@media (max-width: 1000px) {
  .orders-devider {
    visibility: hidden;
  }
}

@media (max-width: 850px) {
  .orders-devider {
    display: none;
  }
}

@media (max-width: 500px) {
  .view-orders-item-details-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .purchased-item-action {
    justify-content: flex-start;
  }
  .purchased-item-action button {
    margin: 30px 5px;
    width: 110px;
    height: 35px;
    font-size: 12px;
  }
  .purchased-item-action .complete-order-btn {
    width: 140px;
  }
  .view-orders-item-details-container {
    padding: 0;
  }
  .purshased-item-image {
    width: 144px;
    margin-right: 10px;
  }
}
