.view-orders-item-details {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

.view-orders-product-detail-section {
  width: 60%;
  height: 100%;
}

.view-orders-item-details-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 5px rgb(227, 227, 227);
  display: flex;
  padding: 20px;
}

.orders-devider {
  border-right: 2px solid rgb(224, 224, 224);
  margin: 10px 40px 20px 100px;
}

.view-orders-product-detail-content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.purchased-item-prise-and-orderid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.purshased-item-image-container {
  display: flex;
  align-items: center;
}
.purshased-item-image-container p {
  max-width: 350px;
  max-height: 50px;
  overflow: hidden;
}
.purshased-item-image {
  width: 180px;
  margin-right: 20px;
}

.purchased-item-action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.purchased-item-action button {
  margin: 30px 10px;
  width: 150px;
  height: 40px;
}
.buy-again-btn{
  
}


.add-review,
.add-review form {
  display: flex;
  flex-direction: column;
}
input[type="radio"] {
  display: none;
}
.order-rating-star {
  color: rgb(201, 199, 199);
  margin-right: 10px;
}
.review-btn {
  height: 40px;
}

.total-review {
  font-size: 12px;
  margin-left: 10px;
  color: grey;
}

@media (max-width: 1200px) {
  .view-orders-item-details {
    background-color: rgb(255, 255, 255);
  }
  .view-orders-product-detail-section {
    width: 100%;
    height: 100%;
  }
  .view-orders-item-details-container {
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .view-orders-item-details-container {
    flex-wrap: wrap;
  }
  .orders-devider {
    width: 100%;
    height: 2px;
    border: none;
  }

  .step-wizard-list {
    display: flex;
  }
}
