.rating {
  display: flex;
  align-items: center;
}
.rating-box {
  width: 55px;
  height: 30px;
  background-color: rgba(106, 183, 255, 0.719);
  margin-right: 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 13px;
}
.rating-star {
  margin-left: 5px;
  font-size: 10px;
}
.rating-review {
  font-size: 11px;
}
