.admin-add-product {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap-reverse;
  overflow: auto;
}

.admin-add-product-form-container,
.admin-add-product-image-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.admin-add-product-image-container {
  padding-top: 115px;
}
.admin-add-product-form {
  width: 70%;
  display: grid;
  place-items: center;
}

.admin-add-product-form-container input,
textarea,
select {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid rgb(192, 192, 192);
  padding-bottom: 15px;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  font-size: calc(0.6rem + 0.3vw);
}
.admin-add-product-form-container .add-product-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(1, 36, 56);
  color: white;
  letter-spacing: 1px;
  margin-top: 20px;
}
.admin-add-product-form .err {
  justify-self: flex-start;
  font-size: 14px;
  color: red;
}

@media (max-width: 1000px) {
  .admin-add-product-form-container,
  .admin-add-product-image-container {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .admin-add-product-form {
    width: 100%;
  }
}
