.footer {
  min-height: 400px;
  position: sticky;
  top: 100%;
  padding-bottom: 20px;
}
.footer-social-media-container {
  background-color: rgb(17, 11, 34);
  background-color: rgb(229 229 229);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.footer h5 {
  font-weight: 600;
  color: rgb(25, 5, 99);
  margin-bottom: 15px;
}
.footer-icon {
  margin: 0 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(109, 68, 255);
}
.footer-icon:hover {
  color: lightblue;
  transform: translateY(-10px);
  transition: 1s;
}
.footer-content {
  margin: 20px 0;
}
.footer-content p {
  max-width: 350px;
}

.footer li {
  margin: 10px 0;
}
.footer-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .footer-content p {
    max-width: 70%;
  }
}
@media (max-width: 600px) {
  .footer-social-media-container {
    display: block;
    text-align: center;
    padding: 10px 20px;
  }
  .footer-icon {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .footer-content p,
  ul {
    font-size: 13px;
  }
  .footer-container {
    padding: 0 20px !important;
  }
}

@media (max-width: 385px) {
  .footer-social-media-container {
    font-size: 12px;
  }
}
