.admin-dashboard{
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
}
.admin-banner-image{
    width: 95%;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(227, 240, 255);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.admin-dashboard input[type='file']{
    display: none;
}
.update-banner{
    padding: 15px;
    background-color: rgb(130, 184, 255);
    color: white;
    letter-spacing: 1px;
    align-self: flex-start;
    display: grid;
    place-items: center;
    position: absolute;
    right: 2.1%;
    border-bottom-left-radius: 20px;
}


.admin-dashboard-links{
    width: 100%;
    padding: 40px;
    display: grid;
    place-content: center;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,.5fr));
}


@media (max-width: 500px) {
    .admin-dashboard-links{
        padding: 10px;
        grid-template-columns: repeat(auto-fit,minmax(100%,.5fr));

    }
    .banner-text{
        width: 90%;
    }
}