.admin-login-page{
    width: 100%;
    min-height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-login-page form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-login-input{
    width: 350px !important;
    height: 40px;
    margin: 20px 0;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    border: none !important ;
    border-bottom: 1px solid grey !important;
    border-radius: 0 !important;
}
.admin-login-page button{
    width: 350px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background:linear-gradient(45deg,rgb(134, 191, 255),rgb(101, 66, 255));
    color: white;
    margin: 20px 0px;
    letter-spacing: 1px;
    font-size: 17px;
}


@media (max-width:400px) {
    .admin-login-container{
        width: 100%;
    }
}