:root {
  --skelton-background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    rgb(230, 230, 230);
  --skelton-repeat: repeat-y;
  --skelton-size: 50% 100%;
  --seklton-position: 0 0;
}
.product {
  width: 280px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 10px;
  box-shadow: 10px 10px 18px 10px rgba(100, 100, 100, 0.13);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
.product-image-container {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.skelton-image-container {
  width: 100%;
  height: 150px;
  background: var(--skelton-background);
  background-repeat: var(--skelton-repeat);
  background-size: var(--skelton-size);
  background-position: var(--seklton-position);
  animation: skelton 2s ease infinite;
}

.title {
  margin-top: 10px;
  font-size: 16px;
  max-width: 80%;
  max-height: 48px;
  overflow: hidden;
  letter-spacing: 0.6px;
}
.skelton-title {
  width: 80%;
  height: 15px;
  margin-top: 10px;
  background: var(--skelton-background);
  background-repeat: var(--skelton-repeat);
  background-size: var(--skelton-size);
  background-position: var(--seklton-position);
  animation: skelton 2s ease infinite;
}

p {
  margin-bottom: 10px;
}
.product-prise {
  display: flex;
}
.skelton-prise {
  display: flex;
  background: var(--skelton-background);
  background-repeat: var(--skelton-repeat);
  background-size: var(--skelton-size);
  background-position: var(--seklton-position);
  animation: skelton 2s ease infinite;
}

.discount-prise {
  margin-right: 5px;
  font-size: 16px;
  color: rgba(8, 172, 8, 0.808);
  letter-spacing: 0.4px;
}
.cut-prise {
  font-size: 12px;
  margin-top: 5px;
  color: grey;
}

.product-actions {
  width: 100% !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  padding: 0 10px;
  left: 0;
}

.buy {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: rgb(131, 205, 255);
  letter-spacing: 0.8px;
}
.skelton-btn{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 0;
  color: transparent;
  background: var(--skelton-background);
  background-repeat: var(--skelton-repeat);
  background-size: var(--skelton-size);
  background-position: var(--seklton-position);
  animation: skelton 2s ease infinite;
}

.buy:hover {
  background-color: black;
  transition: 1s;
}
/*  */
.action-icon {
  background-color: #e6e6e6e0;
  margin-right: 7px;
  padding: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.skelton-icon{
  border-radius: 100%;
  padding: 8px 9px;
  margin: 0 5px;
  color: transparent;
  background: var(--skelton-background);
  background-repeat: var(--skelton-repeat);
  background-size: var(--skelton-size);
  background-position: var(--seklton-position);
  animation: skelton 2s ease infinite;
}


@media (max-width: 1000px) {
  .product {
    width: 200px;
    height: fit-content;
  }
  .product-image-container {
    height: 150px;
  }
  .product-image-container img {
    width: 60%;
  }
  .title {
    font-size: 12px;
    margin-left: 10px;
  }
  .discount-prise {
    font-size: 10px;
    margin-left: 10px;
  }
  .cut-prise {
    margin: 0;
    font-size: 9px;
  }
  .buy {
    width: 55%;
    height: 30px;
  }
  .action-icon {
    padding: 4px;
    font-size: 13px;
    margin-right: 10px;
  }
}

@media (max-width: 440px) {
  .product {
    width: 150px;
    position: relative;
  }
  .product-image-container {
    height: 80px;
  }
  .product-image-container img {
    width: 60%;
  }
  .title {
    font-size: 11px;
    margin-left: 5px;
    max-height: 30px;
  }
  .discount-prise {
    margin-left: 5px;
  }
  .buy {
    width: 100%;
    height: 30px;
  }
  .addfav {
    display: none;
  }
  .addcart {
    position: absolute;
    top: 0px;
    left: 81%;
    border-radius: 0;
    padding: 7px;
    border-top-right-radius: 10px;
    background-color: rgb(131, 205, 255);
    color: white;
  }
}

@media (max-width: 340px) {
  .product {
    width: 220px;
    /* height: 240px; */
  }
  .product-image-container {
    height: 160px;
  }
  .product-image-container img {
    width: 40%;
  }
}
@media (max-width: 250px) {
  .product {
    width: 160px;
  }
  .product-image-container {
    height: 90px;
  }
  .product-image-container img {
    width: 50%;
  }
}

/* ---------------sekelton animation------- */
@keyframes skelton {
  0% {
    background-position: 0% 0, 0 0;
  }
  50% {
    background-position: 100% 0, 0 0;
  }
  100% {
    background-position: 0% 0, 0 0;
  }
}
