.admin-dashboard-link{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.admin-dashboard-link h1{
    font-size: calc(1.4rem + 1vw);
    ;letter-spacing: 1px;
    font-weight: lighter;
}
.admin-dashboard-link p{
    font-size: 25px;
}
