.order-placed-notify-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.87);
  text-align: center;
}

.order-placed-container {
  width: 50%;
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.order-placed-container p {
  font-size: 20px;
  margin-top: 20px;
}
.order-placed-container img {
  width: 300px;
}
.order-placed-success-btns {
  width: 100%;
}
.order-placed-success-btns button {
  width: 170px;
  height: 40px;
  background-color: rgb(113, 180, 255);
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px 8px;
}
.order-placed-success-btns button:nth-child(2) {
  width: 170px;
  height: 40px;
  background-color: rgb(26, 26, 27);
  color: rgb(255, 255, 255);
  margin: 5px;
}

@media (max-width: 1000px) {
  .order-placed-notify-container {
    background-color: rgb(255, 255, 255);
  }
  .order-placed-container {
    width: 100%;
    all: unset;
  }
}

@media (max-width: 384px) {
  .order-placed-success-btns button {
    width: 100%;
  }
  .order-placed-success-btns button:nth-child(2) {
    width: 100%;
  }
}
